/* button from https://uiverse.io/mobinkakei/cold-bat-89 */
@font-face {
    font-family: "Play-Bold";
    src: url("fonts/Play/Play-Bold.ttf");
}

.c-button {
    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    background: #6225e6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
    cursor: pointer;
    font-family: "Play-Bold";
}

.c-button:focus {
    outline: none;
}

.c-button:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #fbc638;
}

.c-button .second {
    transition: 0.5s;
    margin-right: 0px;
}

.c-button:hover .second {
    transition: 0.5s;
    margin-right: 45px;
}

.span {
    transform: skewX(15deg);
}

.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.c-button:hover .three {
    animation: color_anim 1s infinite 0.2s;
}

.c-button:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.c-button:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
    fill: white;
    }
    50% {
    fill: #fbc638;
    }
    100% {
    fill: white;
    }
}
