@font-face {
    font-family: "Play-Regular";
    src: url(fonts/Play/Play-Regular.ttf);
}

.info {
    font-size: 25px;
    font-family: "Plat-Regular";
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
}

.container {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.center {
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
}

.logo {
    font-family: "Play-Regular", sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.menu {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: black;
    font-family: "Play-Regular", sans-serif;
}

a {
    text-decoration: none;
}